[Unit]
Description=time2 

[Service]
Type=simple
User=time2
Group=time2
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4797"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/timesheets/timesheets
ExecStart=bash /home/timesheets/timesheets/start.sh

[Install]
WantedBy=multi-user.target
